# Local development settings (commented out for production)
# REACT_APP_SPOTIFY_CLIENT_ID=
# REACT_APP_SPOTIFY_REDIRECT_URL=http://localhost:3000

# Production settings for Netlify deployment
REACT_APP_SPOTIFY_CLIENT_ID=855b74db399b4b2a95123e8ab0f58707
REACT_APP_SPOTIFY_REDIRECT_URL=https://yourapp.netlify.app
